@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>New Mexico .NET Users Group</h1>
</div>
<div class="row">
    <div class="well col-sm-12 text-center">
        <h1>
            <b>New Mexico .NET Users Group</b>
        </h1>
        <p>
            The New Mexico .NET Users Group (NMUG) exists to help facilitate education and knowledge exchange among developers,
             architects and managers with an interest in Microsoft's .NET technologies. NMUG meets on the first Friday of each month and are open to the public.
             Food and drink are provided.
        </p>
    </div> 
    <div class="row">
        <div class="well col-sm-6">
            <h3>About</h3>
            <p>
                We provide a great place for local developers to come together to learn all about .NET technologies,
                to network with their peers and to foster a sense of community among developers learning and using the same technologies.
            </p>
            <p>
                The .NET Users Group is open to any all individuals who are interested in all facets of .NET development and the technologies that are assiociated with it.
                If you are interested in becoming a business sponsor of our group or becoming an individual member please see our Membership page for more information.
            </p>
        </div>
        @*<div class="col-sm-2">  </div>*@
        <div class="well col-sm-6">
            <h3>Become A Member</h3>
            <p>
                The .NET Users Group is open to any all individuals who are interested in all facets of .NET development and the technologies that are assiociated with it.
                If you are interested in becoming a business sponsor of our group or becoming an individual member please see our <a href="#">Membership</a> page for more information.
            </p>
        </div>
    </div>
</div>
