@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    This is a comment, doesn't effect anything
*@
@{
    ViewData["Title"] = "Movie List";
}
<center><h2>Index</h2></center>
<center><p>Hello from our View Template.</p></center>
